.sidebar {
    background-color: white;
    /*padding-top: ;*/
}

.main-content {

    height: 100vh; /* or any other value slightly less than 100vh */
}

.sidebar, .main-content {
    padding: 9px;
    box-sizing: border-box; /* Ensures padding is included in the total width/height */
    text-align: center;
}


/*@media (max-width: 768px) {*/
/*    .parent {*/
/*        flex-direction: column;*/
/*    }*/

/*    .div1, .div2 {*/
/*        width: 100%;*/
/*    }*/
/*}*/

/*@keyframes typewriter {*/
/*    from { width: 0; }*/
/*    to { width: 100%; }*/
/*}*/

@keyframes blinkCursor {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

.typewriter {
    display: inline-block;
    overflow: hidden; /* Ensures the content is clipped */
    border-right: .15em solid black; /* Cursor effect */
    white-space: nowrap; /* Prevents text from wrapping */
    margin: 0 auto; /* Keeps it centered */
    letter-spacing: .15em; /* Adjust spacing */
    animation:
            typewriter 4s steps(44) 1s 1 normal both,
            blinkCursor 500ms steps(44) infinite normal;
}

.chatbot-page {
    /*height: 100%; !* Ensure the main container takes up the full height *!*/
    /*height: 90vh;*/
    display: flex;
    justify-content: center;
    /*padding-top: 13px;*/
    box-sizing: border-box; /* Include padding in the element's total height and width */
    align-items: center;
    /*margin-top: 4vh;*/
}

.chat {
    align-items: flex-end;
    overflow-y: auto;
}

@media (max-width: 767px) {
    .custom-bot-form {
        /*display: none;*/
        padding: 0 5vw;
        margin-top: 3vh;
    }

    .chatbot-component {
        /*padding: 0;*/
        width: 100%;
        padding: 0 5vw;
        height: 100vh;
        margin-top: 0;
    }

    .input-form {
        margin-right: 0;
        margin-left: 0;
    }

    .title-info {
        margin: 2vh;
    }
}



.custom-bot-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.custom-bot-form-button button {
    padding: 12px 24px;
    background-color: #4a90e2; /* Blue color */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.custom-bot-form-button button:hover {
    background-color: #357dbf; /* Darker shade of blue on hover */
}