.sidebar {
    background-color: white;
    /*padding-top: ;*/
}

.main-content {

    height: 100vh; /* or any other value slightly less than 100vh */
}

.sidebar, .main-content {
    padding: 9px;
    box-sizing: border-box; /* Ensures padding is included in the total width/height */
    text-align: center;
}


/*@media (max-width: 768px) {*/
/*    .parent {*/
/*        flex-direction: column;*/
/*    }*/

/*    .div1, .div2 {*/
/*        width: 100%;*/
/*    }*/
/*}*/

/*@keyframes typewriter {*/
/*    from { width: 0; }*/
/*    to { width: 100%; }*/
/*}*/

@keyframes blinkCursor {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

.typewriter {
    display: inline-block;
    overflow: hidden; /* Ensures the content is clipped */
    border-right: .15em solid black; /* Cursor effect */
    white-space: nowrap; /* Prevents text from wrapping */
    margin: 0 auto; /* Keeps it centered */
    letter-spacing: .15em; /* Adjust spacing */
    animation:
            typewriter 4s steps(44) 1s 1 normal both,
            blinkCursor 500ms steps(44) infinite normal;
}

.chatbot-page {
    /*height: 100%; !* Ensure the main container takes up the full height *!*/
    /*height: 90vh;*/
    display: flex;
    justify-content: center;
    /*padding-top: 13px;*/
    box-sizing: border-box; /* Include padding in the element's total height and width */
    align-items: center;
    /*margin-top: 4vh;*/
}

.chat {
    align-items: flex-end;
    overflow-y: auto;
}