/* Ensure the header is flexible and adjusts layout based on screen size */
header {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 50;
}

.header-logo {
    width: 240px;
}

.menu-button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-button svg {
    width: 1.5rem;
    height: 1.5rem;
}

.nav-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    padding-top: 4rem;
    justify-content: center;
}

.nav-menu.active {
    display: flex;
}

/*.nav-menu .menu-item {*/
/*    padding: 1rem;*/
/*    margin: 0.5rem 0;*/
/*}*/

.close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

.close-button svg {
    width: 1.5rem;
    height: 1.5rem;
}

@media (min-width: 1024px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
        /*padding-right: 1rem;*/
    }

    .menu-button {
        display: none;
    }

    .nav-menu {
        display: flex;
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        padding: 0;
        background-color: transparent;
    }

    .nav-menu .menu-item {
        padding: 0;
        margin: 0;
    }

    .close-button {
        display: none;
    }
}

/* Style for dropdown menus */
.relative.group .absolute {
    display: none;
}

.relative.group:hover .absolute {
    display: flex;
}
